#logo {
    height: 80px;
    max-height: 80px;
    width: auto;
}
/* 
#squat {
    visibility: hidden;
} */

/* Reset default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    height: 100%;
}

/* Full-page expansion and centering */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}



.logo img {
    max-width: 150px;
     padding: 35px;
    height: auto;
}

#intro {
    text-align: center;
    font-size: 36px;
    color: #333;
    margin: 20px 0;
}

p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    color: #666;
}

#sign-up {
    display: block;
    margin: 5px auto;
    padding: 15px 40px;
    background-color: #ff4d88;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sign-up:hover {
    background-color: #e03e7f;
}

.navigation-bar {
    text-align: center;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.navigation-bar ul {
    list-style: none;
    padding: 0;
}

.navigation-bar ul li {
    display: inline;
    margin-right: 20px;
}

.navigation-bar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
   color: white;
   background-color: silver;
}

.menu {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Responsive styles */
@media (max-width: 768px) {
  
    
    .logo img {
        max-width: 120px;
    }

    #intro {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    #sign-up {
        padding: 12px 30px;
        font-size: 16px;
    }

    .navigation-bar ul li {
        margin-right: 10px;
    }

    .navigation-bar ul li a {
        font-size: 16px;
    }

    .footer {
        margin-top: 20px;
    }
}
